[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = https://github.com/Ansibles/mysql.git
[submodule "ansible/roles/ntp"]
	path = ansible/roles/ntp
	url = https://github.com/Ansibles/ntp.git
